
body {
    background-image: url(images/background.jpg);
    background-size: 1000px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container {
    width: 26em;
    height: 40em;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(31, 30, 30);
    border-radius: 1em;
    background-color: rgb(1, 140, 112);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    width: 350px;
    height: 100px;
    margin-bottom: 0px;
    background-color: rgb(107, 153, 122);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 36px;
    color: aliceblue;
}

p {
    margin: 0px;
    margin-right: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    margin: 30px;
}

.numbers {
    width: 250px;
    height: 300px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content:stretch;
}

.number {
    font-size: 50px;
    margin: 1px;
    background-color: rgb(203, 255, 209);
    padding-inline: 24px;
}

.operands {
    width: 100px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.operand {
    font-size: 55px;
    height: 70px;
    margin: 1px;
    background-color: rgb(255, 190, 69);
}


.top {
    display: flex;
    margin-bottom: bottom;
}

.zeroDecimalEquals {
    height: 100px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#zero, #decimal, #equals {
    font-size: 50px;
    margin: 1px;
}

#zero {
    width: 160px;
    background-color: rgb(203, 255, 209);
}

#decimal {
    width: 80px;
    background-color: rgb(203, 255, 209);
}

#equals {
    width: 98px;
    background-color: rgb(255, 190, 69);
    margin-left: 2px;
}

#clear {
    background-color: rgb(215, 5, 5);
    font-size: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 20%;
}

.bottom {
    display: flex;
    margin-left: 300px;
    margin-top: -15px;
}